@model IEnumerable<DTO.clsLuchadorConPuntuacionTotal>

@{
    ViewData["Title"] = "Index";
}

<h1>Clasificación</h1>

<div class="text-center">
    <a href="@Url.Action("Index", "Combate")">Puntuar Combate</a>
</div>

<div class="text-center">
    <a href="@Url.Action("Index", "Home")">Volver a la Página Principal</a>
</div>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.IdLuchador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntosTotales)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdLuchador)
            </td>
            <td>
                <img src="@item.Foto" alt="Foto de @item.Nombre" style="max-width: 150px; height: auto"/>         
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntosTotales)
            </td>
            
        </tr>
}
    </tbody>
</table>
